# Mac
.DS_Store

# Clojure
/.calva
/.clerk
/.clj-kondo
/.cpcache
/.garden
/.lsp
/.nrepl-port
/.shadow-cljs
/public/portfolio-js
/.rebel_readline_history

# Editorer
/.obsidian
/.vscode

# NPM
/node_modules
