{:paths ["src"]

 :tasks
 {deploy
  (do (prn 'test)
      (run 'test)
      ;; (prn 'maybe-lint)
      ;; (run 'maybe-lint)
      (prn 'deploy*)
      (run 'deploy*) ; attempt deploy before push avoid startup errors in the git log
      (prn 'push)
      (run 'push)
      )

  deploy*
  (shell "garden deploy")

  dev
  (shell "garden run")

  maybe-lint
  {:requires ([babashka.fs :as fs])
   :task
   (when (fs/which "clj-kondo")         ; linting is optional
     (shell "clj-kondo --fail-level warning --lint src"))}

  push
  (shell "git push")

  test
  (shell "bin/kaocha")

  timemachine
  {:requires ([mblog.git])
   :task
   (apply mblog.git/timemachine *command-line-args*)}

  test-latest-commit
  (shell "bb timemachine HEAD -- bb test")

  }}
