{:deps {io.github.teodorlu/bb-timemachine {:git/tag "v1.0.1" :git/sha "e684cc8"}
        io.github.filipesilva/invoker {:git/tag "v0.4.9" :git/sha "da35a7a"}}
 :tasks
 {:init (defn runmain [qsym]
          (apply (requiring-resolve qsym) *command-line-args*))
  browse ((requiring-resolve 'clojure.java.browse/browse-url) "http://localhost:7777")
  deploy (run! run '(test deploy* push))
  deploy* (shell "garden deploy")
  dev (shell "garden run")
  lint (shell "clj-kondo --fail-level warning --lint src")
  nvk (runmain 'invoker.nvk/-main)
  nvk-reload (shell "bb nvk reload")
  nvk-test (shell "bb nvk test")
  push (shell "git push")
  test (shell "bin/kaocha")
  test-latest-commit (shell "bb timemachine HEAD -- bb test")
  timemachine (runmain 'teodorlu.bb-timemachine/timemachine)
  }}
