{:deps {io.github.teodorlu/bb-timemachine {:git/tag "v1.0.1" :git/sha "e684c"}
        io.github.filipesilva/invoker {:git/sha "bde24ba50e42a6cff78f38020b38bcb0d2980c9f"}}
 :tasks
 {:init (defn runmain [qsym]
          (apply (requiring-resolve qsym) *command-line-args*))
  deploy (run! run '(test deploy* push))
  deploy* (shell "garden deploy")
  dev (shell "garden run")
  lint (shell "clj-kondo --fail-level warning --lint src")
  nvk (runmain 'invoker.nvk/-main)
  nvk-reload (shell "bb nvk reload")
  nvk-test (shell "bb nvk test")
  push (shell "git push")
  test (shell "bin/kaocha")
  test-latest-commit (shell "bb timemachine HEAD -- bb test")
  timemachine (runmain 'teodorlu.bb-timemachine/timemachine)
  }}
