
::selection {
    color: var(--second100);
    background-color: var(--first100);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--second100);
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
    font-family: var(--main-font);
}

header {
    height: auto;
    background-color: var(--second100);
    color: var(--first100);
    border-bottom: 1px solid var(--first20);
    padding: 12px 12px 0px 12px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    a{
        font-size: clamp(2.5rem, 1.702rem + 2.553vw, 5rem);
        font-family: var(--main-font);
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -2px;
    }

    a:hover {
        background-color: inherit;
        color: inherit;
    }
}

.name-mottos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: flex-end;
    justify-content: flex-start;
    gap: 8px;
}

.tag {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--first10);
    height: 20px;
    color: var(--first100);
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    font-family: var(--main-font);
    text-decoration: none;
    font-style: normal;

}

container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    -webkit-scrollbar: none; /* WebKit */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /*
       scroll-behavior: smooth går i beina på lazy-loading av bilder.

       Vi har lazy-loading av bilder med HTML ala denne:

         <img loading="lazy" src="olav.jpg">

       Når vi samtidig har scroll-behavior: smooth, risikerer vi at følgende skjer:

       1. En bruker får lastet nettsiden kjapt fordi vi lazy-loader bilder
       2. Brukeren trykker på en lenke langt ned, feks OLORM-7
       3. Brukeren kommer ikke ned til OLORM-7, scrollen stopper feks på OLORM-33.

       Så hva har skjedd?
       1. Nettleseren regnet ut at det var (feks) 7000 px ned til OLORM-7
       2. Nettleseren begynner å scrolle
       3. Imens nettleseren scroller, blir bilder laster inn.
       4. Nettleseren stopper å scrolle etter å ha scrollet 7000 px, MEN nå
          har avstanden fra toppen og ned til OLORM-7 økt til 13000 px.

       Med andre ord, vi må gjøre et valg på hvordan dette funker.

       Kommenter inn igjen scroll-behavior: smooth hvis du vil, men la gjerne
       denne comment-blokka bli igjen så vi bevarer kontekst & intensjon.

   */
    /*scroll-behavior: smooth;*/
    transition: ease-in-out 0.3s;
    opacity: 1;
}


section:hover ~ section, section:has(~ section:hover) {

    && img {
        filter: grayscale(1);
        mix-blend-mode: screen;
    }
}


.content {
    width: 50%;
    border-left: 1px solid var(--first20);
}


.navigation {
    width: 50%;
}


h1, h2, h3, h4, h5, h6, p, li, figcaption, aside {
    color: var(--first100);
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 150%;
}



h1 {
    position: sticky;
    top: -1px;
}

h2, h3, h4, h5, h6 {
    background-color: var(--first20);
    padding: 4px 12px;
    color: var(--first100);
    font-weight: 600;
}




figcaption {
    color: var(--first80);
    font-size: 0.8rem;
}

aside {
    background-color: var(--first10);
    padding: 1rem;
}



nav {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}


.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    cursor: cell;
    gap: 4px;
    padding: 8px 12px 8px 0px;
    text-decoration: none;
    transition: ease-out 0.3s;
    border-bottom: 0;
    border-bottom: 1px solid var(--first10);
}

.navList:hover {
    background-color: var(--first50);
    cursor: cell;
    transition: ease-out 0s;
}

.navList:active {
    background-color: var(--first80);
}



.navTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
    padding-right: 0;
    margin: 0;
    text-decoration: none;
}

.navListData {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.navMeta {
    color: var(--first50);
    white-space: nowrap;
    padding: 0;
    margin: 0;
}


h1 {
    background-color: var(--first100);
    color: var(--second100);
    padding: 7px 12px 7px 12px;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    z-index: 99999;
}

p {
    padding: 2px 12px 2px 12px;
    max-width: 75ch;
}

ul, li {
    max-width: 75ch;
}

a {
    color: var(--first100);
    text-decoration: underline;
}

a:hover {
    background-color: var(--first100);
    color: var(--second100);
    text-decoration: none;
    cursor: ne-resize;
}

blockquote {
    color: var(--first80);
    background-color: var(--first10);
    border-left: 2px solid var(--first50);
    padding-left: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
    max-width: 75ch;

    > p {
    font-style: italic;
}
}

figure {
    margin: 0;
    padding: 0 4px 0 4px;
    max-width: 75ch;

}

img {
    max-width: 100%;
    filter: grayscale(0);
    mix-blend-mode: normal;
    transition: 2s ease-in;
}


pre {
    color: var(--first80);
    background-color: var(--first10);
    overflow-x: scroll;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-left: -1px;
    line-height: 150%;
}

.footnotes {
    width: 100%;
    background-color: var(--first10);
    > ol {
    font-size: 9px !important;
    max-width: 75ch;
}
}

hr {
    display: none;
}

footer {
    display: flex;
    justify-content: end;
    background-color: var(--first100);
    border-top: 1px solid var(--second100);
    color: var(--second100);
    padding: 2px 12px 2px 12px;

    p {
        font-weight: 300;
        padding: 0;
        margin: 0;
        color: var(--second100);
    }
}


@media screen and (max-width: 480px), (orientation: portrait) { /* Mobile */

    header {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 12px;

        > a { 
            font-size: clamp(2rem, 2rem + 1.667vw, 3rem);
        }
    }

    .tags {
        align-self: flex-start;
    }

    .name-mottos {
        align-items: flex-start;
        flex-direction: column;
        > p { 
            padding: 0; 
            margin: 0;
        }
    }

    container { 
        margin: 0;
        padding: 0;
    }

    .navigation, .filters {
        display: none;
    }

    .content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .doc {
        /*height: 100vh;*/
        margin-bottom: 5rem;
    }

    h1, h2, h3, h4, h5, h6, p, li, figcaption, aside {
        font-size: clamp(0.75rem, 0.75rem + 0.833vw, 1rem);
    }


}
